{# templates/order/index.html.twig #}
{% include 'base.html.twig' %}

<h1>Ajout d'une commande</h1>
Si les informations de la commande semble incorrectes, corrigez les ci dessous et valider pour insérer la commande en DB :

{{ form(form) }}
